@page
@model DetailsModel
@{
  ViewData["Title"] = "Home page";
}
<style>
  body {
    background-color: #201E20;
  }

  .c {
    color: #DDC3A5;
    background-color: #201E20;
    border-radius: 5px;
    height: 40px;
    border: 2px solid #DDC3A5;
  }

  .c:hover {
    color: black;
    background-color: #DDC3A5;
    border-radius: 5px;
    height: 40px;
    border: 2px solid black;
  }

  .c:focus {
    color: white;
    background-color: #201E20;
    border-radius: 5px;
    height: 40px;
    border: 2px solid black;
  }

  .c_input {
    background-color: #201E20;
    border-top: 2px #201E20 solid;
    border-left: 2px #201E20 solid;
    border-right: 2px #201E20 solid;
    border-bottom: 2px #DDC3A5 solid;
    color: #DDC3A5;
    height: 40px;
    width: 500px;
  }
</style>
<a href="./EmployeeManagement" class="c btn" style="margin-left: 1100px;">Home</a>

<br>
<h2 style="color: #DDC3A5;">
  Details
</h2>
<br>
<br>
<div class="form-group">
  <label class="control-label" style="color: #DDC3A5;">Name</label>
  <label class="form-control c_input">@Model.employee.Name </label>
</div>
<br>
<div class="form-group">
  <label class="control-label" style="color: #DDC3A5;">Password</label>
  <label class="form-control c_input"> @Model.password</label>
</div>
