
@page
@model EditModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  body{
      background-color: #201E20;
    }      

   .c{
      color:#DDC3A5;
      background-color: #201E20;
      border-radius: 5px;
      height: 40px;
      border: 2px solid #DDC3A5;
    }
    .c:hover{
      color:black;
      background-color: #DDC3A5;
      border-radius: 5px;
      height: 40px;
      border: 2px solid black;
    }
    
    .c:hover{
      color:white;
      background-color: #DDC3A5;
      border-radius: 5px;
      height: 40px;
      border: 2px solid black;
    }
    .c:focus{
              color:white;
      background-color: #DDC3A5;
      border-radius: 5px;
      height: 40px;
      border: 2px solid black;
    }
  
</style>
<a href="../AdminIndex" class="c btn" style="margin-left: 1100px;" >Home</a>
<br>
<h2 style="color: #DDC3A5;">
Edit Employee 
</h2>
<br>
<br>
<form method="post">

    <div class="form-group">
        <label  class="control-label" style="color: #DDC3A5;" >Name</label>
        <label  class="form-control readInput" >@Model.employee.Name </label>
    </div>
<br>
 <div style="display:flex;">
    <div class="form-group">
        <label asp-for="password" class="control-label" style="color: #DDC3A5;"></label>
        <br>
        <input asp-for="password" class="c_input" placeholder="Enter  password"/>
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

 <div class="form-group" style="margin-left:50px ;">
        <label  class="control-label" style="color: #DDC3A5;">Confirmation password</label>
        <br>
        <input asp-for="confirmpassword" class="c_input" placeholder="Enter  password"/>
        <span asp-validation-for="confirmpassword" class="text-danger"></span>
        <div asp-validation-summary="ModelOnly"></div>
  </div>

 </div>
    <div  asp-validation-summary="All" style="color:red ;"></div>
    <br>
    <input type="submit" value="Edit" class="btn c" />
</form>