@page
@model MessageModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: #201E20;
    }

    .c {
        color: #DDC3A5;
        background-color: #201E20;
        border-radius: 5px;
        height: 40px;
        border: 2px solid #DDC3A5;
    }

    .c:hover {
        color: black;
        background-color: #DDC3A5;
        border-radius: 5px;
        height: 40px;
        border: 2px solid black;
    }

    h2{
        border-bottom: 2px #DDC3A5 solid;
        height:70px;
    }
</style>

<br>
<h1 style='color: red;'>
Error : 

</h1>
<br>
<br>

    <h2 class="form-group" style="color: #DDC3A5;">
        the Customer with the  
        <span style="color: red;">id ' @Model.id '</span>  already has an Account
    </h2>

<br>

<a href="index" class="btn c" >Previous</a>
