@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<style>
    body {
        background-color: #201E20;
    }

    .c {
        color: #DDC3A5;
        background-color: #201E20;
        border-radius: 5px;
        height: 40px;
        border: 2px solid #DDC3A5;
    }

    .c:hover {
        color: black;
        background-color: #DDC3A5;
        border-radius: 5px;
        height: 40px;
        border: 2px solid black;
    }

    .coloring {
        color: #DDC3A5;
    }

    .active {
        color: white;
        border-bottom: 2px white solid;
    }

    a:hover {
        color: #DDC3A5;
        text-decoration: none;
    }

    .active:hover {
        color: white;
        border-bottom: 2px white solid;
        text-decoration: none;

    }
</style>
<a href="../EmployeeIndex" class="c btn" style="margin-left: 1100px;">Home</a>
<h3 class="coloring">Customer</h3>
<br>
<br>
<form method="post">
    <div class="form-group">
        <label asp-for="customer.Id" class="control-label" style="color: #DDC3A5;"></label>
        <br>
        <input asp-for="customer.Id" class="c_input" placeholder="Enter  Id" />
        <br>
        <span asp-validation-for="customer.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="customer.FirstName" class="control-label" style="color: #DDC3A5;"></label>
        <br>
        <input asp-for="customer.FirstName" class="c_input" placeholder="Enter first name" />
        <br>
        <span asp-validation-for="customer.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="customer.Password" class="control-label" style="color: #DDC3A5;"></label>
        <br>
        <input asp-for="customer.Password" class="c_input" placeholder="Enter  password" />
        <br>
        <span asp-validation-for="customer.Password" class="text-danger"></span>
    </div>
    <br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn c">Continue</button>

</form>
