@page
@model MessageModel
@{
    ViewData["Title"] = "Home page";
}



<style>
    body {
        background-color: #201E20;
    }

    .c {
        color: #DDC3A5;
        background-color: #201E20;
        border-radius: 5px;
        height: 40px;
        border: 2px solid #DDC3A5;
    }

    .c:hover {
        color: black;
        background-color: #DDC3A5;
        border-radius: 5px;
        height: 40px;
        border: 2px solid black;
    }

    .c_input {
        background-color: #201E20;
        border-top: 2px #201E20 solid;
        border-left: 2px #201E20 solid;
        border-right: 2px #201E20 solid;
        border-bottom: 2px #DDC3A5 solid;
        color: #DDC3A5;
        height: 40px;
        width: 500px;
    }

    .coloring {
        color: #DDC3A5;
    }

    .active {
        color: white;
        border-bottom: 2px white solid;
    }

    a:hover {
        color: #DDC3A5;
        text-decoration: none;
    }

    .active:hover {
        color: white;
        border-bottom: 2px white solid;
        text-decoration: none;

    }
</style>

<a href="../EmployeeIndex" class="c btn" style="margin-left: 1100px;">Home</a>
<br>

<h2 class="text-danger">the Customer with Id : ' @Model.id ' don't have an account</h2>
<hr style="color: red;height:4px;">
<br>
<br>
<h3 style="color:#DDC3A5;">To create an account go to one of our admins</h3>
